* {
    box-sizing: border-box;
}

body{
    font-size: 1em;
    font-family: "Arial", "Helvetica", "sans-serif";
    background: 
        linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0,0,255,0) 70.71%);;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    color: rgb(0, 4, 255);
    padding-left: 10%;
    text-shadow: 2px 1px #000;
    font-size: 1.3em;
}

#imageFrigo {
    max-width: 100%;
    max-height: 85vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.contenuFrigo {
    background-color: white;
    border-radius: 50% 20% / 10% 40%;
    opacity: 0.9;
    display: none;
}

.contenu {
    text-align: center;
}

.imagePlus, .imageMoins, .imageSupprimer {
    width: 1em;
    height: auto;
}

#mesArticles, #resultatRecherche{
    list-style-type: none;
}

input {
    border-radius: 10px 100px / 120px;
}

button {
    border-radius: 5px;
    background: linear-gradient(rgba(25, 0, 255, 0.568) 10%, white);
}

button:hover{
    background: linear-gradient(white, rgba(25, 0, 255, 0.568));
}